$black:#333333;
$black2:#292a2f;
#banner{
    .swiper-slide{
        >img{
            width: 100%;
        }
    }
    .swiper-pagination-bullet{
        background: #999999;
    }
    .swiper-pagination-bullet-active{
        border: 1px solid #999999;
        background: transparent;
    }
}
#aboutUs{
    padding: 0.6rem 0 0.6rem;
    .titles{
        margin-bottom: 0.4rem;
    }
    .aImgBox{
        width: 73.3%;
        border: 4px solid #f4f4f4;
        position: relative;
        height: 3.65rem;
        >img{
            width: 41.45%;
            padding: 0.2rem;
        }
        .aImgBottom{
            position: absolute;
            left: 0.4rem;
            width: 125.5%;
            .swiper-slide{
                >img{
                    width: 100%;
                }
            }
            .swiper-pagination-bullet {
                background-color: white;
                opacity: 1;
            }
            .swiper-pagination-bullet-active {
                opacity: 1;
                background: #66676a;
            }
            .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
                bottom: 0px;
                left: 0;
                width: 30%;
            }
        }
    }
    .aContent{
         margin-top: 1.1rem;
        margin-bottom: 0.3rem;
        p{
            font-size: 0.26rem;
            line-height: 0.5rem;
            color: #999999;
            text-align: center;
        }
    }
}
.lookMore {
    width: 40%;
    margin: 0 auto;
    a{
        text-align: center;
        display: block;
        width: 100%;
        height: 0.7rem;
        line-height: 0.7rem;
        border: 1px solid $black2;
        background-color: transparent;
        text-indent: -0.5rem;
        background: url(../img/moreArrow.png) no-repeat 78% center;
        background-size: auto 0.2rem;
        font-size: 0.26rem;
        color: $black;
    }
}
#produce{
    background-color: #f4f4f4;
    width: 100%;
    padding: 0.6rem 0 0.8rem ;
    .moreChocie{
        width: 96.7%;
        margin-left: 3.3%;
        overflow-x: scroll;
        padding: 0.6rem 0 0.4rem;
    }
    .mcBox{
        a{
            display: block;
            width: 2.0rem;
            font-size: 0.28rem;
            line-height: 0.7rem;
            text-align: center;
            background-color: #e9e9e9;
            border-radius: 5px;
            color: $black;
            margin-right: 0.2rem;
        }
        a:nth-last-child(2){
            margin-right: 0;
        }
        .aHasActive{
            background-color: $black;
            color: white;
        }
    }
    .box{
        padding-bottom: 0.5rem;
        .floatl{
            width: 49%;
            display: block;
            margin-bottom: 0.12rem;
            height: 2.15rem;
            overflow: hidden;
            position: relative;
            img{
                width: 100%;
            }
            p{
                font-size: 0.26rem;
                line-height: 0.6rem;
                text-align: left;
                width: 100%;
                padding:0% 5%;
                position: absolute;
                bottom: 0;
                color: white;
                left: 0;
                background-color: rgba(0,0,0,0.3);
            }
        }
        .floatl:nth-child(2n+1){
            margin-right: 2%;
        }
    }
}
#show{
    padding: 0.6rem 0 0.8rem;
    .showMeeting{
        margin: 0.6rem 0;
    }
    .smBox{
        display: block;
        margin-bottom: 0.2rem;
        .smLeft{
            width: 50%;
            img{
                width: 100%;
            }
        }
        .smRight{
            width: 50%;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
            .smTitle{
                line-height: 0.44rem;
                font-size: 0.28rem;
                width: 90%;
                margin: 0 auto;
                color: $black;
            }
            .smTime{
                font-size: 0.24rem;
                width: 90%;
                margin: 0 auto;
                color: #999999;
                margin-top: 0.15rem;
            }
        }
    }
    
}
