$black:#333333;
$black2:#292a2f;
#banner{
    width: 100%;
    img{
        width: 100%;
    }
}
#news{
    padding: 0.6rem 0 0.8rem;
    .titles{
        padding-bottom:0.4rem;
    }
    .smBox{
        display: block;
        margin-bottom: 0.2rem;
        .smLeft{
            width: 50%;
            img{
                width: 100%;
            }
        }
        .smRight{
            width: 50%;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
            .smTitle{
                line-height: 0.44rem;
                font-size: 0.28rem;
                width: 90%;
                margin: 0 auto;
                color: $black;
            }
            .smTime{
                font-size: 0.24rem;
                width: 90%;
                margin: 0 auto;
                color: #999999;
                margin-top: 0.15rem;
            }
        }
    }
}
.twoChocie{
    position: relative;
    padding-top: 0.15rem;
    button{
        width: 50%;
        display: block;
        line-height: 0.7rem;
        background-color: #f0f0f0;
        color: #949494;
        font-size: 0.28rem;
    }
    span{
        height: 0.7rem;
        position: absolute;
        left: 50%;
        top:0.15rem;
        display: block;
        border-right: 1px solid #e1e1e1;
    }
}

