#banner .swiper-slide > img {
  width: 100%; }
#banner .swiper-pagination-bullet {
  background: #999999; }
#banner .swiper-pagination-bullet-active {
  border: 1px solid #999999;
  background: transparent; }

#produce {
  width: 100%;
  padding: 0rem 0 0.8rem; }
  #produce .elseProduce .box {
    padding-top: 0.6rem; }
    #produce .elseProduce .box .floatl {
      width: 49%;
      display: block;
      margin-bottom: 0.12rem;
      height: 2.15rem;
      overflow: hidden;
      position: relative; }
      #produce .elseProduce .box .floatl img {
        width: 100%; }
      #produce .elseProduce .box .floatl p {
        font-size: 0.26rem;
        line-height: 0.6rem;
        text-align: left;
        width: 100%;
        padding: 0% 5%;
        position: absolute;
        bottom: 0;
        color: white;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3); }
    #produce .elseProduce .box .floatl:nth-child(2n+1) {
      margin-right: 2%; }
  #produce .details {
    padding-top: 0px;
    font-size: 0.26rem;
    line-height: 0.5rem; }
    #produce .details .title {
      padding: 0.3rem 0 0.1rem;
      border-bottom: 1px solid #eaeaea;
      font-size: 0.28rem;
      color: #333333; }
    #produce .details .label {
      padding: 0.1rem 0;
      border-bottom: 1px solid #eaeaea;
      line-height: 0.45rem;
      color: #999999; }
  #produce .table {
    width: 100%;
    padding: 0.2rem 0; }
  #produce .tr {
    padding: 0.05rem 0; }
    #produce .tr .td:nth-child(1) {
      width: 24%;
      color: #333333;
      font-weight: bold; }
    #produce .tr .td:nth-child(2) {
      width: 76%;
      color: #666666; }
  #produce .shop {
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea; }
    #produce .shop .tr {
      line-height: 0.6rem;
      padding: 0.2rem 0; }
      #produce .shop .tr .td:nth-child(1) {
        font-size: 0.26rem; }
      #produce .shop .tr .td a {
        height: 0.6rem;
        display: block; }
        #produce .shop .tr .td a img {
          height: 100%; }
  #produce .zhengban {
    border-bottom: 1px solid #eaeaea;
    font-size: 0.26rem;
    color: #333333;
    line-height: 0.9rem; }
    #produce .zhengban p {
      background: url(../img/zhengban.png) no-repeat left center;
      background-size: auto 0.26rem;
      text-indent: 0.3rem;
      margin-right: 0.2rem; }
  #produce .elseProduce {
    padding-top: 0.6rem; }
  #produce .fullText img {
    width: 100%; }

#head {
  width: 100%;
  height: 0.9rem;
  background-color: white;
  box-shadow: 0px 0px 2px 2px rgba(51, 51, 51, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  #head a {
    display: block;
    font-size: 0.28rem;
    line-height: 0.9rem;
    color: #999999; }
  #head .back {
    height: 0.3rem;
    position: absolute;
    top: 0rem;
    padding: 0.3rem 3.3%;
    left: 0%; }
    #head .back img {
      height: 0.3rem; }
  #head .detailIndex {
    position: absolute;
    top: 0;
    left: 38%; }
  #head .detailBlack {
    color: #333333; }
  #head .param {
    position: absolute;
    top: 0;
    right: 38%; }

.nullDiv {
  width: 100%;
  height: 0.9rem; }

#paramBox {
  padding-bottom: 0.8rem; }
  #paramBox .pbtr {
    padding: 0.15rem 0;
    line-height: 0.5rem;
    font-size: 0.26rem;
    border-bottom: 1px solid #e5e5e5; }
    #paramBox .pbtr .pbtd {
      width: 40%;
      font-size: 0.3rem;
      color: #333333; }
      #paramBox .pbtr .pbtd p {
        text-indent: 0.4rem; }
    #paramBox .pbtr .pbtdr {
      width: 60%;
      color: #666666; }
  #paramBox .pbtr:nth-last-child(1) {
    border-bottom: 0px; }

/*# sourceMappingURL=produceDetails.css.map */
